body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.desk-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 450px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(#000) !important;
  --bs-nav-link-hover-color: var(#000) !important ;
  --bs-nav-link-disabled-color: var(#000) !important;
  --bs-nav-link-color: var(#000) !important;
  --bs-nav-link-hover-color: var(#000) !important;
}
.navLinkk {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.navLinkk ul {
  display: flex;
  justify-content: center !important;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinkk a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 5px;
}
.navLinkk a:hover {
  color: #242323;
  font-weight: bold;
}

.navLinkk a:focus,
.navLinkk a:active,
.navLinkk a:visited {
  color: #242323;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link:visited {
  color: #000;
}

.nav-link:focus,
.nav-link:active {
  outline: none;
  color: #000;
  text-decoration: none;
}
.telephone {
  margin-left: 20px !important;
}

.nav-link {
  -webkit-tap-highlight-color: transparent !important;
}
.humbergerlist {
  display: none;
}

@media (max-width: 1024px) {
  .humbergerlist {
    display: none;
  }
  .desk-container {
    gap: 250px !important;
  }
}

@media (max-width: 992px) {
  .humbergerlist {
    display: none;
  }
  .desk-container {
    gap: 180px !important;
  }
}

@media (max-width: 768px) {
  .humbergerlist {
    display: none;
  }
  .telephone {
    display: none !important;
  }
  .desk-container {
    display: flex !important;

    justify-content: space-around !important;
    gap: 0 !important;
  }
}

@media (max-width: 576px) {
  /* .desk-container .humbergerlist {
    display: none;
  }

  .desk-container .telephone {
    display: none !important;
  } */

  .desk-container .humbergerlist {
    display: block;
  }
  .desk-container .hamIcon {
    font-size: 28px !important;
  }
  .desk-container .navLinkk {
    display: none;
  }
  .desk-container {
    height: 47px;
    display: flex !important;

    justify-content: space-around !important;
    gap: 0 !important;
  }

  .dropdown-menu-container {
    position: absolute;
    top: 55px;
    left: 10%;
    width: 80%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s !important;
  }

  .dropdown-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-item {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
  }

  .nav-item:last-child {
    border-bottom: none;
  }

  .dropdown-menu-container a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 5px;
  }
  .dropdown-menu-container a:hover {
    color: #242323;
    font-weight: bold;
  }

  .dropdown-menu-container a:focus,
  .dropdown-menu-container a:active,
  .dropdown-menu-container a:visited {
    color: #242323;
  }
}
