body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}
.header {
  background-color: #fff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000000;
}

.second-desk {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-evenly !important;
  align-items: center;
  margin: 0 !important;
  background-color: #fff;
  padding: 0 5px !important;
}

.second-desk .sort-dropdown {
  width: 150px !important;
  box-sizing: border-box;
  border: 1px solid #64b496;
  cursor: pointer;
}

.second-desk .search-input {
  border: 1px solid #64b496;
}

.second-desk .search-input:focus {
  border: 1px solid #64b496;
}
.second-desk .btn:hover {
  background-color: #ec3c2f !important;
  color: white !important;
  border: 1px solid #f53e32 !important;
}
.icons {
  display: flex;
  align-items: center;
  width: 10%;
  padding: 0 20px;
  justify-content: center;
}

/* .icons img {
  margin-right: 20px;
} */

p {
  margin: 0;
  padding: 0;
  font-size: 1rem !important;
  font-weight: 500;
}
.btn-outline-secondary {
  margin-left: 0.05px !important;
}

.icon:hover {
  transform: scale(1.1);
}
.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.logo:hover {
  transform: scale(1.03);
}

.cart-count {
  top: 0;
  right: -15px;
}
.lens:hover {
  transform: scale(1.1);
}

.register:hover {
  transform: scale(1.05);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .second-desk .sort-dropdown {
    max-width: 50px !important;
  }
}

@media (max-width: 992px) {
  .second-desk .sort-dropdown {
    max-width: 50px !important;
  }
}

@media (max-width: 768px) {
  .search {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .search {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .search {
    display: none !important;
  }
}
