body {
  font-family: poppins, sans-serif;
}
.full-container {
  height: 100vh;
  margin-top: 107px !important;
}
.faq-container {
  padding: 20px;
  max-width: 1100px;
  display: flex;
  justify-content: center !important;
  margin-top: 50px !important;
}

@media (max-width: 1200px) {
  .faq-container {
    padding: 0px 80px;
  }
  .faq-container h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .faq-container {
    padding: 20px 80px !important;
  }
  .faq-container h3 {
    font-size: 1.5rem !important;
  }
}
