.custom-tabs .nav-link {
  border: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.custom-tabs .nav-link.active {
  color: #ff4a4a;
  font-weight: bold;
  border-bottom: 4px solid #64b496;
}

.custom-tabs .nav-link:hover {
  color: #ff4a4a;
}

.custom-tabs .tab-content p {
  color: #666;
  line-height: 1.6;
}
.tap-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 100px;
}

/* استجابة للشاشات بحجم أقل من 768px */
@media (max-width: 768px) {
  .custom-tabs .nav-link {
    font-size: 16px;
    padding: 8px;
  }

  .custom-tabs .nav-link.active {
    border-bottom: 3px solid #64b496;
  }

  .custom-tabs .tab-content p {
    font-size: 14px;

  }

  .tap-container {
    padding: 15px 20px;
    margin-bottom: 50px;
    border-radius: 8px;
  }
}

/* استجابة للشاشات بحجم أقل من 576px */
@media (max-width: 576px) {
  .custom-tabs .nav-link {
    font-size: 14px;
    padding: 6px;
  }

  .custom-tabs .nav-link.active {
    border-bottom: 2px solid #64b496;
  }

  .custom-tabs .tab-content p {
    font-size: 12px;
  }

  .tap-container {
    padding: 10px 15px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}
