.footer {
  background-image: url("../../../../public/imgs/Footer .png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 430px;
  font-family: "Quicksand", sans-serif;
  color: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  margin-top: 100px;
  position: relative;
  bottom: -25px;
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 80%;
  margin: auto;
  padding: 60px 15px 20px;
}

.footer .footer-section {
  flex: 1;
  padding: 0 10px;
}

.footer .footer-section h2,
.footer .footer-section h4 {
  color: #000;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px !important;
}

.footer .footer-section p {
  line-height: 1.5;
  color: #666;
  font-size: 14px !important;
}

.footer .contact-info li {
  list-style: none;
  margin: 8px 0;
  color: #666;
  font-size: 13px;
}

.footer .company ul,
.footer .category ul {
  list-style: none;
  padding: 0;
}

.footer .company ul li,
.footer .category ul li {
  margin: 8px 0;
  cursor: pointer;
  color: #666;
  font-size: 14px;
  transition: color 0.3s;
}

.footer .company ul li:hover,
.footer .category ul li:hover {
  color: #000;
  transform: scale(1.05);
}

.footer .newsletter-input {
  display: flex;
  margin-bottom: 15px;
}

.footer .newsletter-input input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer .newsletter-input button {
  padding: 8px;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  margin-left: -40px;
}

.footer .social-icons {
  display: flex;
  gap: 8px;
  margin: 15px 0;
}

.footer .social-icons button {
  background-color: #fff;
  border: 1px solid #e1dfdf;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-icons svg {
  font-size: 18px;
  color: #666;
  transition: color 0.3s;
}

.footer .social-icons svg:hover {
  color: #4caf50;
}

.footer .footer-gallery {
  display: flex;
  gap: 8px;
}

.footer .footer-gallery img {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  object-fit: cover;
}

.footer .footer-bottom {
  padding: 15px;
  text-align: center;
  font-size: 10px;
  color: #666;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .footer-bottom span {
  color: #f53e32;
}

@media (max-width: 1024px) {
  .footer {
    height: auto;
    padding-bottom: 50px;
  }

  .footer .footer-container {
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
  }

  .footer .footer-section {
    flex: 1 1 calc(50% - 20px);
  }

  .footer .footer-section h2,
  .footer .footer-section h4 {
    font-size: 16px;
  }

  .footer .footer-section p {
    font-size: 12px !important;
  }

  .footer .contact-info li,
  .footer .company ul li,
  .footer .category ul li {
    font-size: 12px;
  }

  .footer .newsletter-input input,
  .footer .newsletter-input button {
    font-size: 12px;
  }

  .footer .social-icons button {
    width: 30px;
    height: 30px;
  }

  .footer .footer-bottom {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-container {
    align-items: center;
    gap: 30px;
  }

  .footer .footer-section {
    padding: 0;
  }

  .footer .footer-section h2,
  .footer .footer-section h4 {
    font-size: 14px;
  }

  .footer .footer-section p {
    font-size: 12px !important;
  }

  .footer .contact-info li,
  .footer .company ul li,
  .footer .category ul li {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer {
    margin: 0 !important;
  }
  .footer-container {
    gap: 10px !important;
  }
  .footer .footer-section h2,
  .footer .footer-section h4 {
    font-size: 16px !important;
  }

  .footer .footer-section p {
    font-size: 10px !important;
  }

  .footer .contact-info li,
  .footer .company ul li,
  .footer .category ul li {
    font-size: 10px;
  }

  .about {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
  }

  .footer .newsletter-input input {
    font-size: 10px;
  }

  .footer .social-icons button {
    width: 25px;
    height: 25px;
  }

  .footer .footer-bottom {
    font-size: 9px;
  }
  .footer ol,
  ul {
    padding-left: 0.2rem !important;
  }
  .about svg {
    width: 10px !important;
  }
  .footer .footer-bottom p {
    font-size: 0.7rem !important;
  }
  .footer .footer-gallery img {
    height: 30px !important;
  }
}
