.products-container {
  padding: 0 180px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  font-family: "Quicksand", sans-serif;
}

.headerProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 180px;
}

.headerProducts h2 {
  font-size: 1.5rem;

  font-weight: bold;
  color: #253d4e;
}

.products-container .loading-spinner {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (max-width: 1200px) {
  .products-container {
    padding: 0 80px;
    grid-template-columns: repeat(3, 1fr);
  }

  .headerProducts {
    padding: 0 80px;
  }

  .headerProducts h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .products-container {
    padding: 0 60px;
    grid-template-columns: repeat(3, 1fr);
  }

  .headerProducts {
    padding: 0 60px;
  }

  .headerProducts h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .products-container {
    width: 98% !important;
    margin: 0 auto !important;
    padding: 0 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .headerProducts {
    padding: 0 30px;
    width: 98% !important;
    margin: 0 auto !important;
  }

  .headerProducts h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .products-container {
    width: 95% !important;
    margin: 0 auto !important;
    padding: 0 15px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .headerProducts {
    width: 95% !important;
    margin: auto;
    padding: 0 15px;
  }

  .headerProducts h2 {
    font-size: 1rem !important;
  }

  .add-to-cart button span {
    display: none;
  }

  .add-to-cart button svg {
    margin-right: 0 !important;
  }
  .add-to-cart .text-decoration-line-through {
    display: none;
  }
}
