.hero-section {
  background-color: #e6e6e6;
  height: 520px !important;

  padding: 0 10rem !important;

  margin-top: 105px;
  position: relative;
  overflow: hidden;
}

.hero-section h6 {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.1rem;
}

.hero-section .display-3 {
  font-weight: bold;
  font-size: 2.5rem !important;
}

.hero-section .input-group .form-control {
  border-radius: 20px 0 0 20px;
  border: 1px solid #ccc;
}

.hero-section .input-group .btn-success {
  border-radius: 0 20px 20px 0;
}

.hero-section .badge {
  font-size: 0.7rem !important;

  color: #444;
  border-radius: 20px;
  background-color: #e6e6e6;
}

.lattace {
  position: absolute;
  bottom: -10px;
  right: -90px;
}
.fruit-dish-img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.leaf-img {
  position: absolute;
  top: -8px;
  left: -15px;
}
.orange-img {
  position: absolute;
  top: -18px;
  right: 50%;
}
.toot-img {
  position: absolute;
  bottom: 18%;
  right: 40%;
}

.left-side {
  text-align: left;
  justify-content: start;
}

.left-side p {
  text-align: left;
  margin: 0 !important;
  padding: 0 !important;
}
.under-line {
  text-decoration: underline;
}
.right-side {
  margin: 0 auto;
}

.lightGreenbtn {
  background-color: #3bb77e !important;
  color: #fff !important;
  padding: 0.7rem 1.4rem !important;
}

.bubbels {
  font-family: "Quicksand", sans-serif;
}

.bubbels span {
  padding: 0.6rem 1rem !important;
}

@media (max-width: 1200px) {
  .hero-section {
    height: auto;
    padding: 0 5rem !important;
  }

  .hero-section .display-3 {
    font-size: 1.5rem !important;
  }

  .hero-section .input-group .form-control {
    border-radius: 10px 10px 0 0;
  }

  .hero-section .input-group .lightGreenbtn {
    border-radius: 0 0 10px 10px;
    padding: 0.5rem 1rem !important;
  }
  .hero-section p {
    font-size: 0.9rem !important;
  }
  .right-side {
    width: 55% !important;
  }
  .right-side span {
    padding: 0.3rem 0.5rem !important;
  }
}

@media (max-width: 992px) {
  .hero-section {
    padding: 0 5rem !important;
  }

  .hero-section .display-3 {
    font-size: 1.3rem !important;
  }

  .left-side span {
    font-size: 16px !important;
  }

  .left-side {
    width: 50% !important;
  }

  .right-side {
    width: 50% !important;
  }

  .right-side span {
    padding: 0.3rem 0.5rem !important;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 0 5rem !important;
  }

  .hero-section .display-3 {
    font-size: 1.3rem !important;
  }

  .left-side span {
    font-size: 16px !important;
  }

  .left-side {
    width: 50% !important;
  }

  .right-side {
    width: 50% !important;
  }

  .right-side span {
    padding: 0.3rem 0.5rem !important;
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding: 0 2rem !important;
  }

  .hero-section .display-3 {
    font-size: 1.1rem !important;
  }

  .left-side span {
    font-size: 14px !important;
  }

  .left-side .form-control {
    font-size: 14px !important;
  }

  .left-side {
    width: 100% !important;
  }

  .right-side {
    width: 100% !important;
  }

  .right-side span {
    padding: 0.3rem 0.5rem !important;
  }

  .lattace {
    display: none;
  }
  .toot-img {
    max-width: 500px !important;
    width: 80px !important;
    top: 10px;
    right: 0;
  }
  .fruit-dish-img {
    max-width: 500px !important;
    width: 80px !important;
    bottom: 0;
    left: 10px;
  }
  .hero-section .py-5 {
    padding-top: 2rem !important;
  }
}
