.big {
  width: 100%;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0 auto;
}
.big .card-container {
  width: 80%;
  padding-left: 20px !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}

.big .card-container .card-body {
  display: flex;
  width: 52%;
  margin: 2rem;
  text-align: start;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

.big .card-container .card-body .card-title {
  font-size: 1rem !important;
  font-weight: bold;
  margin: 1rem 0;
}

.big .card-container .card-body button {
  position: absolute;
  bottom: 10px;
  left: 18px;
}

@media (max-width: 1024px) {
  .big .card-container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .big .card-container .card-body {
    width: 60%;
    margin: 1.5rem;
  }

  .big .card-container .card-body .card-title {
    font-size: 0.9rem;
  }

  .big .card-container .card-body button {
    bottom: 12px;
    left: 15px;
  }
}

@media (max-width: 768px) {
  .big .card-container {
    width: 98%;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px !important;
  }

  .big .card-container .card-body {
    width: 70%;
    margin: 1.5rem;
  }

  .big .card-container .card-body .card-title {
    font-size: 0.8rem;
  }

  .big .card-container .card-body button {
    bottom: 12px;
    left: 15px;
  }
}

@media (max-width: 576px) {
  .big {
    flex-direction: column;
    padding: 0 10px;
  }
  .big .card-container {
    width: 100% !important;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0px !important;
    gap: 0px !important;
  }

  .big .card {
    width: 100% !important;
    margin: auto !important;
    height: 160px !important;
  }

  .big .card-container .card-body {
    margin: 1rem;
    align-items: center;
    text-align: center;
  }

  .big .card-container .card-body .card-title {
    font-size: 0.7rem !important;
    width: 150% !important;
    margin-right: -20px !important ;
  }
  .big .card-container .card-body button {
    font-size: 0.7rem !important;
    width: 90% !important;
    margin-top: 0 !important;
  }

  .big .second {
    display: none;
  }
}
